# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log


